
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.woff2") format("woff2"), url("fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Thin.woff2") format("woff2"), url("fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none!important;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Roboto';
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  color: currentColor;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

label {
  cursor: pointer;
  user-select: none;
}

textarea {
  resize: vertical;
}


input[placeholder] {
  text-overflow: ellipsis;
  white-space: nowrap;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  box-shadow: none;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0 auto;
}

.site-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picture {
  display: block;
  overflow: hidden;
}

.page-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #2D3749;
  z-index: 999;
  height: 50px;
}

.mobile-menu {
  display: none;
}

.js-card {
  transition: border .3s;
}

.js-card.active {
  border-color: var(--bs-active-primary);
  /* border-width: 2px; */
  border-style: solid;
}

.menu {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding: 10px;
}

.js-menu-btn.active {
  color: var(--bs-active-primary);
}

.js-close-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .js-close-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .mobile-menu {
    display: inline-flex;
  }

  .menu {
    display: none;
    margin: -5px;
  }

  .menu.active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #151521;
    padding: 80px 20px 20px 20px;
  }

  .menu__item {
    padding: 5px;
  }
}